/*Defaults*/
img,
video {
  height: auto;
  max-width: 100%;
}

html {
  background: radial-gradient(#151513, #1a1a19);
  background-attachment: fixed; /*edit*/
  padding-left: 50px;
  padding-right: 50px;
  line-height: 1.5;
  color: #EBECEA;
  font-family: Verdana, sans-serif;
}


.main
{
  width: 200px;
  height: 150px;
  background-color: #090909d0;
  border-radius: 25px;
  
}




