/*Defaults*/
img,
video {
  height: auto;
  max-width: 100%;
}

html {
  background: linear-gradient(
    to right bottom,
    #1b3a4b,
    #212f45,
    #272640,
    #312244,
    #4d194d
  );
  background-attachment: fixed; /*edit*/
  padding-left: 50px;
  padding-right: 50px;
  line-height: 1.5;
  color: #faf9f6;
  font-family: Verdana, sans-serif;
}

.header {
  font-size: 30px;
  font-family: Georgia, serif;
}

h2 
{
  font-family: Georgia, serif;
}
h3
{
  font-family: Georgia, serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* Nav Bar */
.topnav {
  font-size: 15px;
  font-family: Verdana, sans-serif;
  text-align: right;
  width: 98%;
  height: 30px;
  padding: 10px;
  border-bottom: 2px solid rgb(255, 255, 255, 0.7);
  color: #faf9f6;
}
.active {
  color: #faf9f6;
  padding: 10px;
  border: 0.5px solid rgb(255, 255, 255, 0.7);
  background: linear-gradient(#1b3a4b, #4d194d);
}
.navelement {
  color: #faf9f6;
  padding: 10px;
  border: 0.5px solid rgb(255, 255, 255, 0.7);
}
.logo
{
  width: 200px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;

  
}


/* Landing Page Related */
.welcome {
  padding-top: 50px;
  font-size: 40px;
  font-family: Georgia, serif;
  color: #faf9f6;
}

.warning {
  padding-top: 20px;
  padding-right: 100px;
}
.about {
  column-count: 2;
  column-width: 50%;
  column-gap: 20px;
}

.clickable {
  cursor: pointer;
}

.contact {
  text-align: center;
}


/* Resume Related */
.resume {
  background: linear-gradient(#1b3a4b, #312244);
  margin-left: 5%;
  margin-right: 5%;
}
.ResumeHeaders {
  text-align: center;
}








